@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/fira-mono";

:root {
    --font-body: Roboto, -apple-system, sans-serif;
    --font-mono: "Fira Mono", monospace;
    font-family: var(--font-body);
}
