@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource-variable/roboto-mono";

:root {
    /* --font-body: Roboto, -apple-system, sans-serif; */
    --font-body: "Roboto Mono Variable", monospace;
    --font-mono: "Roboto Mono Variable", monospace;
    --partial-border-color: #f9b826;
    font-family: var(--font-body);
}
*,
*::after,
*::before {
    transition: opacity 0.2s linear;
    /* outline: 2px solid lime; */
}

@layer base {
    body,
    html {
        @apply overflow-x-hidden md:overflow-visible;
    }
    button,
    .fw-btn-hover {
        @apply hover:outline hover:outline-primary-300;
    }
    p {
        font-family: var(--font-mono);
    }
    pre {
        max-width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
        @apply bg-gray-200 py-5 px-7 rounded-xl;
    }
    #particles-js {
        /* z-index: 9; */
        top: 0;
        left: 0;
        position: absolute !important;
        background: transparent;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    a {
        @apply hover:opacity-50;
    }
}

@layer utilities {
    .glass {
        background: rgba(255, 255, 255, 0.1); /* Light transparent layer */
        backdrop-filter: blur(6px); /* Frosted glass effect */
        -webkit-backdrop-filter: blur(6px); /* For Safari */
    }

    .partial-border {
        position: relative;
        display: inline-block;
    }

    .partial-border::after {
        --partial-border-height: 7px;
        content: "";
        position: absolute;
        bottom: -5px;
        right: 0;
        width: 0%; /* Initial width */
        height: var(--partial-border-height);
        border-bottom: var(--partial-border-height) solid var(--partial-border-color);
        animation: border-grow 0.3s ease-in-out forwards; /* Animation on page load */
    }

    @keyframes border-grow {
        from {
            width: 0%;
        }
        to {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .partial-border::after {
            --partial-border-height: 4px;
            bottom: -1px;
        }
    }
    .partial-border-sm::after {
        --partial-border-height: 3px;
        bottom: -1px;
        width: 100%;
    }
}
